<div class="border shadow-sm m-10">
  <div class="text-2xl p-3 mt-0 bg-darkGrayishBlue">
      {{restaurant_name}}
  </div>
  <div class="flex flex-col md:flex-row md:gap-4 text-right m-5">
        <div class=" flex-grow text-left">
            <a href="{{restaurant_url}}">
            {{restaurant_url}}
            </a>
            <div class="">
                {{restaurant_description}}
            </div>
            <div class="">
                Created on {{format_date createdAt}}
            </div>

        </div>
        <div class="m-3">
           <!-- Rating --> 
        </div>
   </div>
  <ul class="flex flex-col md:flex-row md:gap-4 text-right m-5 justify-end" id="btn-grud">
    <a href="/restaurant/view/{{id}}"><li class="border p-3 bg-darkGrayishBlue hover:bg-slate-300 hover:text-cyan-50 text-center cursor-pointer" id="btn-view{{id}}">
      View
    </li></a>
    <a href="/dashboard/restaurant/edit/{{id}}"><li class="border p-3 bg-darkGrayishBlue hover:bg-slate-300 hover:text-cyan-50 text-center cursor-pointer" id="btn-edit{{id}}">
      Edit
    </li></a>
    <!-- <li data-id="{{id}}" class="border p-3 bg-darkGrayishBlue hover:bg-slate-300 hover:text-cyan-50 text-center cursor-pointer" id="btn-delete{{id}}">
      Delete
    </li> -->
    <!-- <a id="delete-restaurant" ><div data-id="{{id}}" class="border p-3 bg-darkGrayishBlue hover:bg-slate-300 hover:text-cyan-50 text-center cursor-pointer" id="btn-delete">
      Delete
    </div></a> -->
  </ul>
  <script src="/javascript/dashboard.js"></script>
</div>
