<div class="">
  <h2 class="restaurant_name">
    {{restaurant_name}}
  </h2>
  <div class="writer_review">
    <div class="pb-5 m-5 line-clamp">{{restaurant_description}}</div>
    <div
      class="p-4 m-3 shadow-md shadow-red-100 hover:bg-red-50 font-semibold"
    ><a href="/api/review/{{id}}">Write a review</a></div>
    <div class="hidden" id="userReviewCounsts">{{userReviewCounts}}</div>
    <div class="hidden" id="totalRated">{{totalRated}}</div>
    <div class="mb-3" id="avgRated">
      {{avgRated}}
    </div>
  </div>
</div>