<div class=" ml-10 mt-10 bg-darkGrayishBlue hover:bg-gray-300 w-40 text-center"><a href="/dashboard"> â† Back to Dashboard</a></div>
<div class="border shadow-sm ml-10 mr-10 mt-3">
  <div class="flex-row justify-space-between">
    <div class="text-2xl p-3 mt-0 bg-darkGrayishBlue">{{restaurant.restaurant_name}}</div>
    <ul class="flex flex-col md:flex-row md:gap-4 text-right m-5">
            <li class=" flex-grow text-left">
                <a href="{{restaurant.restaurant_url}}">
                {{restaurant.restaurant_url}}
                </a>
                <div class="">
                    {{restaurant.restaurant_description}}
                </div>
                <div class="">
                    {{restaurant.createdAt}}
                </div>
            </li>
            <li class="m-3">
                Rating {{avgRating}}
            </li>
    </ul>
  </div>  
</div>
<input type="hidden" name="restaurant-id" value="{{restaurant.id}}"/>
<div class="">
  {{> reviews restaurant.reviews}}
</div>